Host docker-node-1
  Hostname 10.0.9.12
  User ruan
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host glusterfs-node-1
  Hostname 10.0.9.34
  User ruan
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
 
Host glusterfs-node-2
  Hostname 10.0.7.51
  User ruan
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
 
Host elasticsearch-node-1
  Hostname 10.0.9.67
  User ruan
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host elasticsearch-node-2
  Hostname 10.0.7.23
  User ruan
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
